<%= link_to "Generate", generate_pairs_users_path, class: "btn btn-primary", data: {turbolinks: false} %>

<table class="table">
  <thead>
    <tr>
      <th>First Pair</th>
      <th>Second Pair</th>
      <th>Third Pair</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>
        <%= @users[0].firstName %>
        <%= @users[0].secondName %>
      </td>
      <td>
        <%= @users[1].firstName %>
        <%= @users[1].secondName %>
      </td>
      <td>
        <%= @users[2].firstName %>
        <%= @users[2].secondName %>
      </td>
    </tr>
    <tr>
      <td>
        <%= @users[3].firstName %>
        <%= @users[3].secondName %>
      </td>
      <td>
        <%= @users[4].firstName %>
        <%= @users[4].secondName %>
      </td>
      <td>
        <%= @users[5].firstName %>
        <%= @users[5].secondName %>
      </td>
    </tr>

  </tbody>
</table>
