%h1 All Users
%table.table
  %thead
    %tr
      %th First Name
      %th Second Name
  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.first_name
        %td
          = user.last_name
        %td{:align => "right"}
          = link_to t('shared.edit'), edit_user_path(user), class: "btn btn-default"
        %td
          = link_to t('shared.destroy'), user_path(user), method: :delete, class: "btn btn-danger", data: {confirm: 'Are your sure?'}
= link_to t('shared.new'), new_user_path, class: "btn btn-primary"
